{extends file="layouts/default.html"}

{block name="content"}

<div class="container my-3">
   <div class="row">
      <div class="col-12">
         <div class="d-flex justify-content-end align-items-center">
            <a class="btn btn-primary" target="_blank" 
            href="https://drive.google.com/file/d/1bfJshTd94568TmfM-7AmHjiL0cw9_3aD/view?usp=drive_link">Download PDF</a>
         </div>
      </div>
   </div>
</div>

<div class="container my-3">
   <div class="row">
      <div class="col-12">
         <h4>
            If you are from an institution and has more than 50 attendees talk to our team (+91-9042013581) so we could arrange an in person session within your campus.
         </h4>
      </div>
   </div>
</div>

<div class="container my-3">
   <div class="row">
      <div class="col-12">
         <ul class="list-group">
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>R Programming: Unlocking the Power of Data Analysis</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Machine Learning with TensorFlow: Building Intelligent Systems</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Mastering WordPress Development: Creating Custom Themes and Plugins</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Building E-Commerce Websites with WooCommerce</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Introduction to React: Building Dynamic User Interfaces</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Building Cross-Platform Apps with React Native and Expo</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Mastering Angular: Building Scalable Web Applications</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Python Fundamentals: From Beginner to Pro</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>

            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Next.js Bootcamp: From Zero to Hero</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>

            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Mastering Vue.js: From Basics to Advanced</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>

            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>PHP Bootcamp: Code, Connect, Create</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>

            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Laravel Bootcamp: Build Powerful Web Applications</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>


            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Mastering Node.js: From Fundamentals to Deployment</div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>

            <li class="list-group-item">
               <div class="d-flex justify-content-between align-items-center">
                  <div>Express.js Essentials: Create Robust RESTful APIs
                  </div>
                  <a href="{$site_url}/workshops/notify" class="btn btn-info btn-sm">Notify</a>
               </div>
            </li>
           
         </ul>
      </div>
   </div>
</div>

{/block}