{extends file="layouts/default.html"}

{block name="content"}
<div class="container my-3 services">
    <div class="row">
        <div class="col-12 col-md-4 wow animate__fadeIn" data-wow-duration="2s">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Software Training</h5>
                   
                    <p class="description"> Skriptx stands as a premier destination for software training, specializing in a diverse array
                        of technologies to equip individuals with the skills needed to thrive in today's dynamic tech
                        landscape.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-primary" href="{$site_url}/services/software-training">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 wow animate__fadeIn" data-wow-duration="2s">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Placement Services</h5>
                    <p  class="description"> At Skriptx, we understand that training is just one part of the equation. That's why we go the
                        extra mile by offering comprehensive placement services for both candidates and companies,
                        bridging the gap between talent and opportunities in the tech industry.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-primary" href="{$site_url}/services/placement">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 wow animate__fadeIn" data-wow-duration="2s">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Custom Software Development</h5>
                    <p  class="description"> Skriptx specializes in bespoke software development solutions, leveraging core programming
                        languages such as PHP, Node.js, and WordPress, along with the Express.js framework. Our team of
                        seasoned developers excels in crafting tailored solutions that precisely meet the unique needs
                        and requirements of our clients.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-primary" href="{$site_url}/services/software">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 wow animate__fadeIn" data-wow-duration="2s">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Open Source Solutions</h5>
                    <p  class="description"> At Skriptx, we provide end-to-end solutions for cloud server management, open-source
                        installation, and maintenance. Our services are designed to ensure that your digital
                        infrastructure is robust, secure, and optimized for performance.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-primary" href="{$site_url}/services/open-source">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 wow animate__fadeIn" data-wow-duration="2s">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Internship Opportunities</h5>
                    <p  class="description"> Skriptx is committed to nurturing the next generation of tech talent through our comprehensive internship programs. Designed for students passionate about coding and the IT industry, our internships offer invaluable hands-on experience and mentorship in a dynamic, real-world environment.</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-primary" href="{$site_url}/services/internship">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}