{extends file="layouts/default.html"}

{block name="content"}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Placement Services</h4>
                    <p>At Skriptx, we understand that training is just one part of the equation. That's why we go the
                        extra mile by offering comprehensive placement services for both candidates and companies,
                        bridging the gap between talent and opportunities in the tech industry</p>
                    <h5 class="card-subtitle">For Candidates:</h5>
                    <div>
                        <ul>
                            <li>Career Guidance: Receive personalized career counseling from our experts, who help you
                                identify your strengths, goals, and career pathways.</li>
                            <li>Resume Building: Craft a standout resume that showcases your skills and experiences
                                effectively, increasing your chances of catching the attention of employers.</li>
                            <li>Interview Preparation: Gain valuable insights and tips to excel in technical interviews,
                                behavioral assessments, and case studies.</li>
                            <li>Job Matching: Leverage our extensive network of partner companies to find job
                                opportunities that align with your skills, interests, and career aspirations.</li>
                            <li>Continuous Support: Benefit from ongoing support and guidance even after securing a job,
                                ensuring a smooth transition into your new role.</li>
                        </ul>
                    </div>
                    <h5 class="card-subtitle">For Companies:</h5>

                    <div>
                        <ul>
                            <li>Talent Acquisition: Tap into our pool of skilled and vetted candidates to find the
                                perfect fit for your team, whether you're hiring for full-time positions, internships,
                                or contract roles.</li>
                            <li>Customized Recruitment Solutions: Receive tailored recruitment solutions based on your
                                company's unique needs, culture, and hiring requirements.</li>
                            <li>Streamlined Hiring Process: Save time and resources with our efficient hiring process,
                                which includes pre-screening, technical assessments, and candidate shortlisting.</li>
                            <li>Dedicated Account Management: Partner with a dedicated account manager who serves as
                                your point of contact throughout the recruitment process, ensuring a seamless experience
                                from start to finish.</li>
                            <li>Post-Placement Support: We continue to support both candidates and companies even after
                                the placement is made, ensuring a successful onboarding process and long-term fit.</li>

                        </ul>
                    </div>

                    <p>
                        Whether you're a candidate seeking your dream job or a company looking to build a stellar team,
                        Skriptx is your trusted partner in navigating the complex world of tech recruitment. Let us help
                        you unlock your full potential and achieve your goals.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}