{extends file="layouts/default.html"}

{block name="content"}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Skriptx: Empowering Software Professionals</h4>
                    <p class="">
                        Skriptx stands as a premier destination for software training, specializing in a diverse array
                        of technologies to equip individuals with the skills needed to thrive in today's dynamic tech
                        landscape. 
                    </p>
                    <p>
                        Our comprehensive training programs cater to beginners and seasoned professionals
                        alike, offering expertise in:
                    </p>

                    <div>
                        <h5>Core Technologies</h5>
                        <ul>
                            <li>PHP: Master the server-side scripting language widely used for web development.</li>
                            <li>Node.js: Dive into the world of server-side JavaScript, leveraging its asynchronous,
                                event-driven architecture.</li>
                            <li>Frontend Development: Develop captivating user interfaces with HTML, CSS, and
                                JavaScript, learning industry best practices for modern web design.</li>
                            <li>Backend Development: Harness the power of frameworks like Express.js to build robust and
                                scalable backend systems.</li>
                        </ul>
                    </div>
                    <div>
                        <h5>Content Management Systems (CMS):</h5>
                        <ul>
                            <li>WordPress: Explore the most popular CMS platform, empowering you to create dynamic
                                websites and web applications with ease.</li>
                            <li>Joomla: Delve into Joomla's flexible and extensible framework for building websites,
                                portals, and online applications.</li>

                        </ul>
                    </div>
                    <div>
                        <h5>Database Technologies:</h5>
                        <ul>
                            <li>MongoDB: Embrace the NoSQL revolution and learn to work with MongoDB, a
                                document-oriented database designed for scalability and flexibility.</li>
                            <li>SQL: Master the fundamentals of relational databases and SQL, essential skills for
                                managing and querying data in various environments.</li>

                        </ul>
                    </div>
                    <div>
                        <h5>JavaScript Frameworks:</h5>
                        <ul>
                            <li>Angular: Explore the Angular framework and learn to build dynamic, single-page web
                                applications with ease.

                            </li>
                            <li> React: Dive into React, the JavaScript library for building user interfaces, and
                                discover its power in creating interactive web applications.</li>
                            <li>Next.js: Delve into Next.js, the React framework for server-rendered applications, and
                                build modern web experiences with efficiency.</li>
                        </ul>
                    </div>

                    <div>
                        <h5>Why Choose Skriptx?</h5>
                        <ul>
                            <li>Expert Instructors: Learn from industry experts with extensive experience in their
                                respective domains.</li>
                            <li>Hands-On Learning: Gain practical, real-world experience through hands-on projects and
                                exercises.</li>
                            <li>Flexible Learning Options: Choose from a variety of learning formats, including
                                in-person classes, online courses, and self-paced tutorials.</li>
                            <li>Career Support: Receive guidance on career advancement, job placement assistance, and
                                interview preparation to propel your career forward.</li>
                        </ul>
                    </div>

                    <p>
                        At Skriptx, we are committed to empowering individuals with the knowledge and skills needed to
                        succeed in today's competitive tech industry. Join us and unlock your full potential in software
                        development.

                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


{/block}