{extends file="layouts/default.html"}

{block name="content"}

<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="card my-3">
                <div class="card-body">
                    <h4 class="card-title">Contact Us</h4>
                    <p>At Skriptx, we're here to help you with all your software training and development needs. Whether you have questions about our services, need technical support, or want to learn more about our internship opportunities, we’d love to hear from you. Please fill out the contact form below with your details and inquiry. Our team will get back to you as soon as possible. For urgent matters, you can also reach us at <strong>+91-9042013581</strong> or <strong>mailtoskriptx@gmail.com</strong>. Thank you for reaching out to Skriptx – your trusted partner in technology and innovation.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our Office Address</h5>
                    <p>87, Indra Nagar</p>
                    <p>Marakkanam Road</p>
                    <p>Tindivanam</p>
                    <p>Tamilnadu, India - 604001</p>
                    <div><strong>Email:</strong> mailtoskriptx@gmail.com</div>
                    <div class="my-2"><strong>Mobile:</strong> +91-9042013581</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdG_Qsw7fOxbfuTPiVXs7vx3NKTFM5sH00qOFuD8tNOmFhY9A/viewform?embedded=true" width="640" height="976" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}