{extends file="layouts/default.html"}

{block name="content"}

<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Internship Course Plan</h3>
                    <h4>5-Day Internship Course Plan</h4>

                    {include file="internship/day-1.html"}
                    {include file="internship/day-2.html"}
                    {include file="internship/day-3.html"}
                    {include file="internship/day-4.html"}
                    {include file="internship/day-5.html"}
                    {include file="internship/notes.html"}











                </div>
            </div>
        </div>
    </div>
</div>
{/block}