 
                    <h5>Day 1: Introduction and Setup</h5>
                    <h5>Objective: Familiarize interns with the project, tools, and team.</h5>
                    <h6>Morning Session:</h6>
                    <div>
                        <ul>
                            <li>Welcome and Orientation:
                                <ul>
                                    <li>Introductions to team and project.</li>
                                    <li>Overview of company culture and expectations.</li>
                                    <li>Tour of the workplace (or virtual meet-and-greet for remote interns).</li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>Project Overview:
                                <ul>
                                    <li>Introduction to the project scope and objectives.</li>
                                    <li>Review of project timeline and key milestones.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <h6>Afternoon Session:</h6>
                    <div>
                        <ul>
                            <li>Technical Setup:

                                <ul>
                                    <li>Setting up development environments.</li>
                                        <li>Installation of necessary tools and software (e.g., IDE, version control systems).</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li>Introduction to Git and Version Control:

                                <ul>
                                    <li>Basic Git commands and workflow.</li>
                                    <li>Creating branches, committing changes, and merging.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

