
<h5>Day 2: SCSS Basics</h5>
<h5>Objective: Learn the fundamentals of Bootstrap and SCSS.</h5>
<h6>Morning Session:</h6>
<div>
    <ul>
        <li>CSS Frameworks Overview: 

            <ul>
                <li>Introduction to Bootstrap and its components.</li>
                <li>Setting up Bootstrap in a project.</li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>SCSS Basics: 

            <ul>
                <li>Introduction to SCSS syntax and features.</li>
                <li>Variables, nesting, and partials.</li>
            </ul>
        </li>
    </ul>
</div>

<h6>Afternoon Session:</h6>


<div>
    <ul>
        <li>Combining Bootstrap and SCSS:

            <ul>
                <li>Integrating Bootstrap with custom SCSS.</li>
                <li>Creating a basic layout using Bootstrap components and SCSS customization.</li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <ul>
        <li>Hands-On Practice:

            <ul>
                <li>Building a simple web page using Bootstrap and SCSS.</li>
                <li>Customizing Bootstrap variables (e.g., colors, fonts).</li>
            </ul>
        </li>
    </ul>
</div>










