<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$users item=user}
                    <tr>
                        <td>{$user->id}</td>
                        <td>{$user->name}</td>
                        <td>
                            <a class="btn btn-primary" href="{$site_url}/users/see/{$user->id}">View</a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>

            </table>
        </div>
    </div>
</div>