<div class="py-4 bg-cpanel-blue my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase text-white">Mission</h2>
                <p class="text-white">At Skriptx, we are dedicated to transforming your ideas into powerful, scalable,
                    and innovative software solutions. Our mission is to leverage cutting-edge technology to deliver
                    exceptional value and drive your business forward.
                </p>
            </div>
        </div>
    </div>
</div>