
<div class="container">
    <div class="row">
     
        <div class="col-12 col-md-6">
            <div class="card wow  animate__slideInDown" data-wow-duration="2s">
                <div class="card-body our-process">
                    <h5 class="card-title text-uppercase text-center">Our Process</h5>
                    <ul>
                        <li>
                            <div class="fw-semibold subtitle">Consultation</div>
                            <div>Understanding your business needs and objectives.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Planning</div>
                            <div>Defining the project scope, timeline, and resources.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Design</div>
                            <div>Crafting intuitive and engaging user interfaces.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Development</div>
                            <div>Building robust and scalable solutions using best practices.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Testing</div>
                            <div>Ensuring quality and performance through comprehensive testing.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Deployment</div>
                            <div>Launching your solution with full support and training.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Maintenance</div>
                            <div>Providing ongoing support and enhancements to keep your solution at its best.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 d-none d-md-block col-md-6">
            <img src="images/home-carousel/img-5.webp" class="w-100 wow  animate__slideInUp" data-wow-duration="2s" alt="">
        </div>
    </div>
</div>
