<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h2 class="color-cpanel-blue text-uppercase text-center">Success Stories</h2>
        </div>
    </div>
</div>
<div class="container success-stories">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dr.Ramkumar Rajendran</h5>
                    <h6 class="card-subtitle text-muted">Asst.Prof IIT, Mumbai</h6>
                    <p class="card-text">We couldn't be happier with the web development services provided by <strong>SKRIPTX</strong>. From the initial consultation to the final launch, their team demonstrated exceptional professionalism, technical expertise, and a keen understanding of our business needs.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dr.Swaminathan</h5>
                    <h6 class="card-subtitle text-muted">Director, Silicon Craft</h6>
                    <p class="card-text">I am thrilled with the web development services provided by <strong>SKRIPTX</strong>. From the very beginning, their team demonstrated professionalism, expertise, and a deep understanding of our needs. They transformed our outdated website into a modern, user-friendly platform that has significantly enhanced our online presence.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dr.Edward Roshan</h5>
                    <h6 class="card-subtitle text-muted">Director, Medical Wizardry</h6>
                    <p class="card-text">I am immensely pleased with the website and Android app development services provided by <strong>SKRIPTX</strong>. As a medical professional, I needed a digital solution that was not only user-friendly and visually appealing but also secure and compliant with healthcare standards. <strong>SKRIPTX</strong> exceeded my expectations on all fronts.</p>
                </div>
            </div>
        </div>
    </div>
</div>