


<div class="py-4 bg-cpanel-blue my-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase text-white">Training and Placement Programs</h2>
                <p class="text-white">
                    Learn from industry leaders through interactive workshops and hands-on sessions, gain practical skills that employers are looking for, from technical proficiency to soft skills, enhance your resume, master interview techniques, and build a professional network.
                </p>
            </div>
        </div>
    </div>
</div>