<h2 class="text-center text-uppercase color-cpanel-blue">What we do</h2>
<div class="container what-we-do my-3">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card wow  animate__fadeIn" data-wow-duration="2s">
                <div class="card-body">
                    <h5 class="card-title">Custom Software Development</h5>
                    <p>Tailored solutions designed to meet your specific business needs, from web and mobile applications to enterprise software.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card wow  animate__fadeIn" data-wow-duration="2s">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p>Creating dynamic, responsive, and user-friendly websites that provide an exceptional user experience and drive engagement.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card wow  animate__fadeIn" data-wow-duration="2s" >
                <div class="card-body">
                    <h5 class="card-title">Mobile App Development</h5>
                    <p>Building intuitive and feature-rich mobile applications for iOS and Android platforms, ensuring seamless performance and user satisfaction.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container what-we-do my-3">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card wow  animate__fadeIn" data-wow-duration="2s">
                <div class="card-body">
                    <h5 class="card-title">Cloud Solutions</h5>
                    <p>Implementing robust cloud-based solutions to enhance scalability, security, and collaboration for your business.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card wow  animate__fadeIn" data-wow-duration="2s">
                <div class="card-body">
                    <h5 class="card-title">AI & Machine Learning</h5>
                    <p>Harnessing the power of AI and machine learning to create intelligent applications that deliver insights and automation.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card wow  animate__fadeIn" data-wow-duration="2s">
                <div class="card-body">
                    <h5 class="card-title">E-commerce Development</h5>
                    <p>Crafting bespoke e-commerce platforms that boost sales, enhance customer satisfaction, and drive growth.</p>
                </div>
            </div>
        </div>
    </div>
</div>