
<div class="container">
    <div class="row">
        <div class="col-12 d-none d-md-block col-md-6">
            <img src="images/home-carousel/img-5.webp" class="w-100 wow  animate__slideInLeft" data-wow-duration="2s" alt="">
        </div>
        <div class="col-12 col-md-6">
            <div class="card wow  animate__slideInRight" data-wow-duration="2s">
                <div class="card-body why-choose-skriptx">
                    <h5 class="card-title text-uppercase text-center">Why Choose SkriptX</h5>
                    <ul>
                        <li>
                            <div class="fw-semibold subtitle">Expert Team</div>
                            <div>Our team of skilled developers, designers, and strategists are passionate about technology and committed to excellence.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Agile Methodology</div>
                            <div>We use agile development practices to ensure flexibility, transparency, and timely delivery.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Customer-Centric Approach</div>
                            <div>Your vision is our priority. We work closely with you to understand your goals and deliver solutions that exceed expectations.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Quality Assurance</div>
                            <div>Rigorous testing and quality assurance processes ensure that our solutions are reliable, secure, and performant.</div>
                        </li>
                        <li>
                            <div class="fw-semibold subtitle">Innovative Solutions</div>
                            <div>We stay ahead of industry trends and utilize the latest technologies to provide innovative and future-proof solutions.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
