<div class="container my-3">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body ch-200">
                    <h4 class="text-center">Routing</h4>
                    <p>A simple and flexible routing system to map URLs to specific controller actions or closures.</p>
        
                </div>
            </div>
              </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body ch-200">
                    <h4 class="text-center">MVC Architecture</h4>
                    <p>Clear separation of concerns through a Model-View-Controller architecture, facilitating organized and maintainable code.</p>
        
                </div>
            </div>
          </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body ch-200">
                    <h4 class="text-center">Object-Relational Mapping</h4>
                    <p>An elegant and intuitive ORM for database interactions, simplifying CRUD operations and enabling query building.</p>
        
                </div>
            </div>
         </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body ch-200">
                    <h4 class="text-center">Templating Engine</h4>
                    <p>A lightweight and efficient templating engine to create dynamic HTML views.</p>
        
                </div>
            </div>
              </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body ch-200">
                    <h4 class="text-center">Caching</h4>
                    <p>Support for various caching mechanisms to improve application performance and reduce load times.</p>
        
                </div>
            </div>
          </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body ch-200">
                    <h4 class="text-center">Extensibility</h4>
                    <p>A modular architecture allowing easy extension and customization of core functionalities.</p>
        
                </div>
            </div>
         </div>
    </div>
</div>