<footer class="py-1 mt-3">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{$site_url}/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{$site_url}/refund-and-cancellation-policy">Refund and Cancellation Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{$site_url}/terms-and-conditions">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="navbar">
                    <ul class="navbar-nav">
                        <li class="navbar-text text-white">&copy;SkriptX. All Rights Reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>