{extends file="layouts/default.html"}

{block name="content"}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Projects</h4>
                    <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Client</th>
                                <th>Tech Stack</th>
                                <th>Year</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Personal Tutoring</td>
                                <td>IIT Bombay</td>
                                <td>WordPress, Node JS, MongoDB</td>
                                <td>Sep 2023</td>
                                <td>
                                    <p>
                                        Welcome to our online hub, where learning meets innovation! Explore the
                                        fascinating world of
                                        Python, robotics, and more through personalized tutoring. Elevate your skills
                                        with expert
                                        guidance at your own pace. Start your educational adventure today!
                                    </p>
                                    <p>
                                        Internal Usage. If requested, getting prior permission from client, url might be
                                        shared

                                    </p>

                                </td>
                            </tr>

                            <tr>
                                <td>Viviliyam</td>
                                <td> Mr.P.Thiyagarajan</td>
                                <td>
                                    WordPress for website, Capacitor, Angular 17 for android app
                                </td>
                                <td>
                                    Jan 2024
                                </td>

                                <td>
                                    <p> An android app for bible reading and daily updates</p>
                                    <p>https://www.viviliyam.com</p>
                                </td>
                            </tr>
                            <tr>
                                <td>Sutrulaa

                                </td>
                                <td>****</td>
                                <td>WordPress</td>
                                <td>Dec 2023</td>
                                <td>

                                    <p>Suturlaa is an travel and tourism company that provides tour packages to its customers.
                                    </p>
                                    <p> https://www.sutrulaa.com</p>
                                </td>
                            </tr>

                            <tr>
                                <td>Silicon Craft</td>
                                <td>Dr.Swaminathan</td>
                                <td>WordPress</td>
                                <td>March 2024</td>
                                <td>

                                    <p>Silicon Craft, a distinguished division of Silicic Innova Technologies, is a premier institute in
                                        VLSI and Embedded Systems education.
                    </p>
                    <p>https://www.silicon-craft.com</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Medical Wizardry
                                </td>
                                <td>
                                    Dr. Edward Roshan
                                </td>
                                <td>
                                    Laravel, H5P, Angular 1, React Native for Android App
                                </td>
                                <td>
                                    Jul 2020
                                </td>
                                <td>
                                    <p>
                    Medical Wizardry is a medical blog for practicing doctors to share the knowledge in any form.

                                    </p>
                                    <p>
                                        https://www.medicalwizardry.com
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td> Global Dentistry</td>
                                <td>Dr. Ruben Antony</td>
                                <td>WordPress</td>
                                <td>Dec 2023</td>
                                <td>
                                    <p>
                    Global dentistry is online informational website for a dental hospital

                                    </p>
                                    <p>
                                        https://www.globaldentistryweb.com
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>ZipCaars</td>
                                <td>Mr.Deepak</td>
                                <td>Angular 10, Slim PHP</td>
                                <td></td>
                                <td>
                                    <p>
                                        ZipCaars is a car rental company, wanted to implement custom pricing structure, as packages for
                                        weekend trips and weekdays with different pricing slab.
                                    </p>
                                    <p>
                                        https://www.zipcaars.com
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>GauSoft</td>
                                <td>Mr.Prathik</td>
                                <td>Angular 10, Laravel</td>
                                <td></td>
                                <td>
                                    <p>
                                        Gausoft is remote cattle monitoring project, used on the rurals of Karnataka which stores and shares
                                        the database of the animal with particulars of dose given and date. It alarms the assigned users on
                                        any perscribed signal like miscarriage after insemmination.
                                    </p>
                                    <p>
                                        https://www.gausoft.com
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>Guest Lecture Staff Selection</td>
                                <td>Ms.Thenmozhi, PEC</td>
                                <td>Laravel, jQuery</td>
                                <td></td>
                                <td>
                                    <p>
                                        To collect applications for the Guest Lecture post, generate application number only if eligible,
                                        generate hall ticket.                                    </p>
                                    <p>
                                        https://www.gausoft.com
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td> Bulk Image Processing</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td>Photoshop, Javascript</td>
                                <td></td>
                                <td>
                                    <p>Created Javascript Plugin that can be used in photoshop to import images in bulk from the specific
                                        folder, update the height and width based on specifics given in json and retransform the image to
                                        provided resolution</p>
                                </td>
                            </tr>
                            <tr>
                                <td>Session Management</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td> Node JS, React, Socket JS, Mongo DB</td>
                                <td></td>
                                <td>
                                    
                    To make sure a specific link (url) is opened by only one user at one time on any browser, the
                    session management of the file and location are maintained in the database using websocket the file
                    permissions are managed
                                </td>
                            </tr>
                            <tr>
                                <td>Collaborative Work</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td>Node JS, React, Together JS</td>
                                <td></td>
                                <td>
                                    <p>
                                        Using TogetherJS from firefox the collaboration tool for the editor was created and helped the
                    backend to setup the proxy configuration on the apache server
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>Find & Replace</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td> Node JS, Cheerio</td>
                                <td></td>
                                <td>
                                    <p> A recursive function was written to extract the html text and using cheerio the structure of the
                                        html is updated based on the given rules in json .</p>
                                </td>
                            </tr>
                            <tr>
                                <td>PDF Annotation Tool</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td>Angular 10, PDF Viewer</td>
                                <td></td>
                                <td>
                                    Integration of PDF annotation tool with Angular 10 application, to generate
                                    annotations for text & images, based on the dynamic input field.
                                </td>
                            </tr>

                            <tr>
                                <td>Image Annotation Tool</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td>Angular 12, Annotorius</td>
                                <td></td>
                                <td>
                                    Integration of Image annotation tool (annotorious), an open source project, to
                                    generate annotations to identify Region Of Interest. As an extension to the annotorious project, a
                                    select dropdown module was developed.
                                    <div>
                                        <code>
                                            https://github.com/recogito/recogito-client-core/issues/51
                                        </code>
                                    </div>
                                    This project caches 50-60 images on the browser using INNODB, captured from thrid party storage, as
                                    base64 and populates based on demand
                                </td>
                            </tr>
                            <tr>
                                <td>Reviewer Suggest Tool</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td>Angular 13, PHP, Python, Pubmed, NCBI</td>
                                <td></td>
                                <td>
                                    <p>Integration of api based search to angular based application to fetch authors of similar articles to
                                        identify their contribution to other articles</p>
                                </td>
                            </tr>
                            <tr>
                                <td>Google Chrome Plugin</td>
                                <td>Mr.Ganesh, Straive</td>
                                <td>JS</td>
                                <td></td>
                                <td>
                                    Integrated a simple copy paste functionality from one page to another page, to existing chrome
                                    plugin used, where destination page has multiple rows of dropdown and dropdown fields are selected
                                    based on the copied content
                                </td>
                            </tr>
                            <tr>
                                <td>Candidate TV</td>
                                <td>Mr.Deepak</td>
                                <td>Wordpress, Woocommerce</td>
                                <td></td>
                                <td>
                                    CandidateTV is an innovative platform designed to streamline the recruitment process by leveraging the power of video interviews. Built on the robust and user-friendly WordPress CMS, CandidateTV combines the flexibility of WordPress with custom integrations to create a seamless experience for both recruiters and candidates.
                                </td>
                            </tr>
                            <tr>
                                <td>Malle Box</td>
                                <td>Mr.Deepak</td>
                                <td>Wordpress, Woocommerce</td>
                                <td></td>
                                <td>
                                    MalleBox is a convenient storage solution that offers users the ability to rent boxes for storing their belongings in a secure warehouse. Designed for individuals and businesses needing extra space, MalleBox simplifies the storage process with an easy-to-use platform.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <h5>Other Notable Works</h5>
                    <ol>
                        <li>https://passkey-73c81.web.app/ – reference for MaterializeCss (2022)</li>
                        <li>https://wordsuggestor-4f835.web.app/ – reference for React Skillset (2021)</li>
                        <li>https://analog-clock-eed9a.web.app – reference for vannilajs & css3(2021)</li>
                        <li>https://ng7mat.firebaseapp.com/ – reference for angular skillset (2019)</li>
                       
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}