.success-stories{

    .card-body{
        height: 300px;

        .card-title{
            color: #385f97;
        }
        .card-subtitle{
            margin-bottom: 0.5em;
        }
        .card-text{
            text-align: justify;
            line-height: 1.6;
        }
    }
}