.carousel .carousel-item {
  height: 400px;
}
.carousel .carousel-item.a {
  background-color: aquamarine;
}
.carousel .carousel-item.b {
  background-color: azure;
}
.carousel .carousel-item.c {
  background-color: beige;
}
.carousel .carousel-item .carousel-caption {
  color: black;
}

.ch-200 {
  height: 200px;
}
