<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="card  wow animate__fadeIn" data-wow-duration="2s">
                <div class="card-body">
                    <h5 class="card-title">NAMO PHP Framework</h5>
                    <p>The Namo PHP Framework is a lightweight and efficient framework designed to streamline the development of dynamic web applications. With its small footprint, Namo provides a minimalist yet powerful toolset that allows developers to build robust applications without the overhead typically associated with larger frameworks. Namo emphasizes simplicity, speed, and flexibility, making it an ideal choice for developers seeking a straightforward framework that doesn't compromise on performance or scalability. Whether you're building a small project or a complex application, Namo PHP Framework offers the essential features you need in a lightweight package.</p>
                    <p><a href="https://github.com/skriptxadmin/namophp" target="_blank">Click for more details</a></p>
                </div>
            </div>
        </div>
    </div>
</div>